body {
	background-color: #F5F5F5;
	width: 100%;
	display: flex;
	justify-content: center;
}

@font-face {
  font-family: 'JSDongKang';
  src: local('JSDongKang'), url(./fonts/JSDongkang-Regular.ttf) format('truetype');
}